html, body {
	margin: 0;
	padding: 0;
}
header {
  border-bottom: 1px #eee solid;
}
footer {
  border-top: 1px #eee solid;
}
.container {
  margin: 15px;
  text-align: center;
}
.brand-color {
  color: #5CB85C;
}
.image {
  width: 430px;
}